@page
@model BusStopSplit.Pages.UrbanAreaSplit.TimetableBusId37Model
@{
}

<link rel="stylesheet" href="~/css/Timetable.css" />

<h1 class="h1 d-flex card timetable-bus-name" style="width:1356px;">37 SPLIT - AIRPORT - TROGIR</h1>
<p style="margin-left:80px; color:darkblue;">vrijedi od (valid from) 07.01.2020.</p>
<div class="d-flex flex-row">
    <table class="table-borderless table-striped" style="width:452px; margin-left:75px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-working-day">WORKING DAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-around">
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">04:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">04:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">05:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">05:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">05:50</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">06:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">06:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">06:50</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">07:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">07:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">07:50</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">08:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">08:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">08:50</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">09:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">09:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">09:50</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">10:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">10:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">10:50</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">11:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">11:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">11:50</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">12:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">12:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">12:50</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">13:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">13:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">13:50</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">14:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">14:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">14:50</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">15:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">15:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">15:50</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">16:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">16:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">16:50</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">17:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">17:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">17:50</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">18:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">18:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">18:50</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">19:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">19:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">19:50</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">20:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">20:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">21:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">21:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">22:05</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">22:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">23:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">24:15</span></td>
            </tr>
        </tbody>
    </table>

    <table class="table-borderless table-striped" style="width:452px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-sunday-and-holiday">SATURDAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-between">
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">04:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">05:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">05:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">06:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">06:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">07:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">07:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">08:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">08:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">08:50</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">09:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">09:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">09:50</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">10:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">10:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">10:50</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">11:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">11:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">11:50</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">12:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">12:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">12:50</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">13:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">13:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">13:50</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">14:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">14:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">14:50</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">15:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">15:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">16:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">16:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">17:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">17:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">18:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">18:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">19:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">19:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">20:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">20:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">21:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">21:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">22:05</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">22:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">23:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">24:15</span></td>
            </tr>
        </tbody>
    </table>

    <table class="table-borderless table-striped" style="width:452px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-sunday-and-holiday">SUNDAY AND HOLIDAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-between">
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">04:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">05:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">05:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">06:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">06:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">07:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">07:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">08:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">08:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">09:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">09:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">10:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">10:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">11:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">11:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">12:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">12:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">13:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">13:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">14:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">14:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">15:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">15:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">16:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">16:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">17:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">17:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">18:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">18:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">19:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">19:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">20:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">20:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">21:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">21:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">22:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">22:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">23:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">24:15</span></td>
            </tr>
        </tbody>
    </table>
</div>