@page
@model BusStopSplit.Pages.UrbanAreaSplit.TimetableBusId16Model
@{
}

<link rel="stylesheet" href="~/css/Timetable.css" />

<h1 class="h1 d-flex card timetable-bus-name" style="width:1356px;">16 NINČEVIĆI - HNK - NINČEVIĆI</h1>
<p style="margin-left:80px; color:darkblue;">vrijedi od (valid from) 18.10.2018.</p>
<div class="d-flex flex-row">
    <table class="table-borderless table-striped" style="width:452px; margin-left:75px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-working-day">WORKING DAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-around">
            <tr class="d-flex justify-content-center">
                <td><span class="card notifications-orangered-box"><u>05:00</u></span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">05:35</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card notifications-orangered-box">06:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">06:40</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">07:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">07:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">08:15</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">08:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">09:15</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">09:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">10:15</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">10:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">11:15</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">11:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">12:15</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">12:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">13:15</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">13:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">14:15</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">14:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">15:15</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">15:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">16:15</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">16:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">17:15</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">17:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">18:15</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">18:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">19:15</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">19:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">20:15</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">20:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">21:15</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">21:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">22:15</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">22:45</span></td>
            </tr>
        </tbody>
    </table>

    <table class="table-borderless table-striped" style="width:452px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-sunday-and-holiday">SATURDAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-between">
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-box-bordered-orange"><u>05:00</u></span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">05:35</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-box-bordered-orange">06:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">06:40</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">07:10</span></td>
                <td><span class="card timetable-box-bordered timetable-margine-between-box"><u>07:45</u></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">08:15</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">08:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-box-bordered-orange"><u>09:15</u></span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">09:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">10:15</span></td>
                <td><span class="card timetable-box-bordered-orange timetable-margine-between-box">10:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">11:15</span></td>
                <td><span class="card timetable-box-bordered timetable-margine-between-box"><u>11:45</u></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">12:15</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">12:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">13:15</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">13:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-box-bordered"><u>14:15</u></span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">14:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">15:15</span></td>
                <td><span class="card timetable-box-bordered-orange timetable-margine-between-box">15:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">16:15</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">16:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">17:15</span></td>
                <td><span class="card timetable-box-bordered timetable-margine-between-box"><u>17:45</u></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">18:15</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">18:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-box-bordered-orange"><u>19:15</u></span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">19:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">20:15</span></td>
                <td><span class="card timetable-box-bordered-orange timetable-margine-between-box">20:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">21:15</span></td>
                <td><span class="card timetable-box-bordered timetable-margine-between-box"><u>21:45</u></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">22:15</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">22:45</span></td>
            </tr>
        </tbody>
    </table>

    <table class="table-borderless table-striped" style="width:452px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-sunday-and-holiday">SUNDAY AND HOLIDAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-between">
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-box-bordered-orange">05:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-box-bordered-orange">06:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">07:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">08:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card notifications-orangered-box">09:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">10:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">11:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">12:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card notifications-orangered-box">13:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">14:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">15:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">16:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">17:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">18:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">19:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">20:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">21:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">22:00</span></td>
            </tr>
        </tbody>
    </table>
</div>

<div style="margin-top:20px; margin-left:5%;">
    <h4>Napomena</h4>
    <div class="d-flex align-items-center">
        <div class="card timetable-darkblue-box"></div>
        <div><p style="margin-bottom:10px;">PODCRTANI POLASCI SU ONI KOJI NA POVRATKU IZ GRADA PRODUŽAVAJU NA MEGDAN</p></div>
    </div>
    <div class="d-flex align-items-center">
        <div class="card notifications-orangered-box"></div>
        <div><p style="margin-bottom:10px;">POLASCI S MEGDANA SU OZNAČENI NARANČASTOM BOJOM</p></div>
    </div>
    <div class="d-flex align-items-center">
        <div class="card timetable-box-bordered-orange"></div>
        <div><p style="margin-bottom:10px;">POLASCI OZNAČENI ISTOČKANO SVRAĆAJU I U NINČEVIĆE</p></div>
    </div>

</div>
