@page
@model BusStopSplit.Pages.UrbanAreaSplit.TimetableBusId23Model
@{
}

<link rel="stylesheet" href="~/css/Timetable.css" />

<h1 class="h1 d-flex card timetable-bus-name" style="width:1356px;">23 HNK - SOLIN - HNK</h1>
<p style="margin-left:80px; color:darkblue;">vrijedi od (valid from) 09.09.2019.</p>
<div class="d-flex flex-row">
    <table class="table-borderless table-striped" style="width:452px; margin-left:75px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-working-day">WORKING DAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-around">
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
        </tbody>
    </table>

    <table class="table-borderless table-striped" style="width:452px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-sunday-and-holiday">SATURDAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-between">
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">00:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">01:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">02:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">03:00</span></td>
            </tr>
        </tbody>
    </table>

    <table class="table-borderless table-striped" style="width:452px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-sunday-and-holiday">SUNDAY AND HOLIDAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-between">
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">00:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">01:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">02:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">03:00</span></td>
            </tr>
        </tbody>
    </table>
</div>

<div style="margin-top:20px; margin-left:5%;">
    <h4>Napomena</h4>
    <div class="d-flex">
        <div class="card timetable-darkblue-box"></div>
        <p style="margin-bottom:10px;">Linija prometuje slijedećom trasom: HNK - DOMOVINSKOG RATA - ZNG - MATOŠEVA - PETRA KREŠIMIRA IV. - MARKA MARULIĆA -<br /> SPLITSKA (METERIZE) - STJEPANA RADIĆA (ŠIRINA) - BILANKUŠA - DON FRANE BULIĆA - KAŠTELANSKA (SV. KAJO) - ŠIRINA - ZNG - DOMOVINSKOG RATA - HNK</p>
    </div>
</div>
