@page
@model BusStopSplit.Pages.UrbanAreaSplit.TimetableBusId35_1Model
@{
}

<link rel="stylesheet" href="~/css/Timetable.css" />

<h1 class="h1 d-flex card timetable-bus-name" style="width:1356px;">35 DUGOPOLJE - SPLIT</h1>
<p style="margin-left:80px; color:darkblue;">vrijedi od (valid from) 25.04.2016.</p>
<div class="d-flex flex-row">
    <table class="table-borderless table-striped" style="width:452px; margin-left:75px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-working-day">WORKING DAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-around">
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box"><u>05:00</u></span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">05:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box"><u>05:45</u></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box"><u>06:55</u></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box"><u>08:10</u></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">09:25</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">11:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box"><u>13:00</u></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box"><u>14:30</u></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card notifications-orangered-box">15:10 - Podi*</span></td>
                <td><span class="card timetable-box-bordered timetable-margine-between-box"><u>15:50-Podi</u></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">16:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box"><u>17:30</u></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box"><u>19:30</u></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-box-bordered"><u>21:00 - Podi</u></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card notifications-orangered-box">22:15 - Podi*</span></td>
            </tr>
        </tbody>
    </table>

    <table class="table-borderless table-striped" style="width:452px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-sunday-and-holiday">SATURDAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-between">
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box"><u>05:00</u></span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">05:10</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box"><u>05:45</u></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-box-bordered"><u>06:50 - Podi</u></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">09:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">11:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-box-bordered"><u>13:10 - Podi</u></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-box-bordered"><u>15:15 - Podi</u></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">16:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box"><u>19:30</u></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box"><u>21:00</u></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
        </tbody>
    </table>

    <table class="table-borderless table-striped" style="width:452px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-sunday-and-holiday">SUNDAY AND HOLIDAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-between">
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box"><u>05:00</u></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">06:50</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box"><u>09:30</u></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">11:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box"><u>13:15</u></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box"><u>15:15</u></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box"><u>19:30</u></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box"><u>21:00</u></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
        </tbody>
    </table>
</div>

<div style="margin-top:20px; margin-left:5%;">
    <h4>Napomena</h4>
    <div class="d-flex align-items-center">
        <div class="card timetable-darkblue-box"></div>
        <div><p style="margin-bottom:10px;">U podcrtane sate autobus polazi iz Vučkovića</p></div>
    </div>
    <div class="d-flex align-items-center">
        <div class="card timetable-darkblue-box"></div>
        <div><p style="margin-bottom:10px;">Radnim danima i subotom polazak u 05:10 iz Doca svraća preko zone Podi</p></div>
    </div>
</div>