@page
@model BusStopSplit.Pages.UrbanAreaSplit.TimetableBusId60_1Model
@{
}

<link rel="stylesheet" href="~/css/Timetable.css" />

<h1 class="h1 d-flex card timetable-bus-name" style="width:1356px;">60 RAVNIČKI MOST - OMIŠ - SPLIT</h1>
<p style="margin-left:80px; color:darkblue;">vrijedi od (valid from) 09.09.2019.</p>
<div class="d-flex flex-row">
    <table class="table-borderless table-striped" style="width:452px; margin-left:75px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-working-day">WORKING DAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-around">
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">04:50</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">05:20</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">05:55</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">06:20</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">06:55</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">07:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">07:55</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">08:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">09:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">09:20</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">10:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">10:20</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">11:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">11:20</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">12:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">12:20</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">13:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">13:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">14:05</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">14:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">15:05</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">15:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">16:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">16:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">17:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">17:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">18:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">18:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">19:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">19:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">20:05</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">20:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">21:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">21:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">22:05</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">22:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">23:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">22:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">22:50</span></td>
            </tr>
        </tbody>
    </table>

    <table class="table-borderless table-striped" style="width:452px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-sunday-and-holiday">SATURDAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-between">
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">04:50</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">05:20</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">05:55</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">06:20</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">06:55</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">07:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">07:55</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">08:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">09:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">09:20</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">10:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">10:20</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">11:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">11:20</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">12:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">12:20</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">13:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">13:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">14:05</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">14:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">15:05</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">15:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">16:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">16:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">17:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">17:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">18:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">18:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">19:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">19:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">20:05</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">20:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">21:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">21:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">22:05</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">22:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">23:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">22:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">22:50</span></td>
            </tr>
        </tbody>
    </table>

    <table class="table-borderless table-striped" style="width:452px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-sunday-and-holiday">SUNDAY AND HOLIDAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-between">
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">04:50</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">05:20</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">05:55</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">07:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">07:55</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">08:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">08:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">09:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">09:20</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">10:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">10:20</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">11:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">11:20</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">12:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">12:20</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">13:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">13:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">14:05</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">14:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">15:05</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">15:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">16:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">16:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">17:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">17:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">18:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">18:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">19:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">19:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">20:05</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">20:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">21:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">21:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">22:05</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">22:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">23:00</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">22:30</span></td>
                <td><span class="card timetable-darkblue-box timetable-margine-between-box">22:50</span></td>
            </tr>
        </tbody>
    </table>
</div>