@page
@model BusStopSplit.Pages.SuburbanAreaSplit.TimetableBusId81_1Model
@{
}

<link rel="stylesheet" href="~/css/Timetable.css" />

<h1 class="h1 d-flex card timetable-bus-name" style="width:1356px;">81 NISKO - BRŠTANOVO - SPLIT</h1>
<p style="margin-left:80px; color:darkblue;">vrijedi od (valid from) 03.10.2016.</p>
<div class="d-flex flex-row">
    <table class="table-borderless table-striped" style="width:452px; margin-left:75px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-working-day">WORKING DAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-around">
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-box-bordered">04:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-box-bordered">05:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card notifications-orangered-box">06:10</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-box-bordered">12:10</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-box-bordered">14:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-box-bordered">15:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">16:40</span></td>
            </tr>
        </tbody>
    </table>

    <table class="table-borderless table-striped" style="width:452px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-sunday-and-holiday">SATURDAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-between">
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">06:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
        </tbody>
    </table>

    <table class="table-borderless table-striped" style="width:452px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-sunday-and-holiday">SUNDAY AND HOLIDAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-between">
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
        </tbody>
    </table>
</div>

<div style="margin-top:20px; margin-left:5%;">
    <h4>Napomena</h4>
    <div class="d-flex">
        <div class="card timetable-box-bordered"></div>
        <p style="margin-bottom:10px;">U ove sate vozi u Prugovo na presjedanje</p>
    </div>
    <div class="d-flex">
        <div class="card notifications-orangered-box"></div>
        <p style="margin-bottom:10px;">U 06:10 prometuje preko: Vlake - Korušce - Dugobabe -Konjsko - Split</p>
    </div>
</div>