@page
@model BusStopSplit.Pages.SuburbanAreaSplit.TimetableBusId73_1Model
@{
}

<link rel="stylesheet" href="~/css/Timetable.css" />

<h1 class="h1 d-flex card timetable-bus-name" style="width:1356px;">73 OGORJE - MUĆ / MUĆ - SPLIT</h1>
<p style="margin-left:80px; color:darkblue;">vrijedi od (valid from) 07.01.2020.</p>
<div class="d-flex flex-row">
    <table class="table-borderless table-striped" style="width:452px; margin-left:75px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-working-day">WORKING DAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-around">
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">05:50- iz Muslima</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">12:00- iz Muslima</span></td>
            </tr>
        </tbody>
    </table>

    <table class="table-borderless table-striped" style="width:452px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-sunday-and-holiday">SATURDAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-between">
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">06:00- iz Muslima*</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
        </tbody>
    </table>

    <table class="table-borderless table-striped" style="width:452px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-sunday-and-holiday">SUNDAY AND HOLIDAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-between">
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
        </tbody>
    </table>
</div>