@page
@model BusStopSplit.Pages.SuburbanAreaSplit.TimetableBusId67_1Model
@{
}

<link rel="stylesheet" href="~/css/Timetable.css" />

<h1 class="h1 d-flex card timetable-bus-name" style="width:1356px;">67 DOLAC G. - DOLAC D. - KOTLENICE - SPLIT</h1>
<p style="margin-left:80px; color:darkblue;">vrijedi od (valid from) 16.06.2017.</p>
<div class="d-flex flex-row">
    <table class="table-borderless table-striped" style="width:452px; margin-left:75px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-working-day">WORKING DAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-around">
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-box-bordered">05:10 iz Siničića</span></td>
                <td><span class="card notifications-orangered-box timetable-margine-between-box">05:55</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">06:35 iz Kotlenica</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-box-bordered">11:45 iz Siničića</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">16:55 iz Siničića</span></td>
            </tr>
        </tbody>
    </table>

    <table class="table-borderless table-striped" style="width:452px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-sunday-and-holiday">SATURDAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-between">
            <tr class="d-flex justify-content-center">
                <td><span class="card notifications-orangered-box">05:10 iz Siničića</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
        </tbody>
    </table>

    <table class="table-borderless table-striped" style="width:452px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-sunday-and-holiday">SUNDAY AND HOLIDAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-between">
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-no-box-space"></span></td>
            </tr>
        </tbody>
    </table>
</div>