@page
@model BusStopSplit.Pages.BusCoverageAreaInterface.SuburbanAreaSplitModel
@{
}

@*
    Kod koji kreira listu autobusa koji prometuju suburbanim područjem
*@

<link rel="stylesheet" href="~/css/TextAttributes.css" />
<div class="container-fluid" style="border-style:solid; border-color:darkblue; margin-top:20px;">

    <div class="card" style="margin-top:10px; background-color:yellow; border:none;">
        <h1 class="busList-h1" style="">Suburban area Split</h1>
    </div>

    <div>
        <table class="table table-borderless">

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">67</td>
                <td class="busList-table-name">SPLIT - KOTLENICE - DOLAC D. - DOLAC G.</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusId67" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">67</td>
                <td class="busList-table-name">DOLAC G. - DOLAC D. - KOTLENICE - SPLIT</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusId67_1" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">68</td>
                <td class="busList-table-name">SPLIT - TUGARE - BLATO - ŠESTANOVAC</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusId68" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">68</td>
                <td class="busList-table-name">ŠESTANOVAC-BLATO-TUGARE-SPLIT</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusId68_1" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">69</td>
                <td class="busList-table-name">SPLIT - BISKO - TRNBUSI - BLATO - ŠESTANOVAC</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusId69" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">69</td>
                <td class="busList-table-name">ŠESTANOVAC - BLATO - TRNBUSI - BISKO - SPLIT</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusId69_1" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">71</td>
                <td class="busList-table-name">SPLIT - NEORIĆ - SUTINA</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusId71" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">71</td>
                <td class="busList-table-name">SUTINA - NEORIĆ - SPLIT</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusId71_1" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">73</td>
                <td class="busList-table-name">SPLIT-MUĆ / MUĆ-OGORJE</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusId73" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">73</td>
                <td class="busList-table-name">OGORJE - MUĆ / MUĆ - SPLIT</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusId73_1" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">76</td>
                <td class="busList-table-name">SPLIT - CRIVAC- KLJACI</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusId76" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">76</td>
                <td class="busList-table-name">KLJACI - CRIVAC - SPLIT</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusId76_1" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">77</td>
                <td class="busList-table-name">SPLIT - MUĆ - CRIVAC</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusId77" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">77</td>
                <td class="busList-table-name">CRIVAC - MUĆ - SPLIT</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusId77_1" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">80</td>
                <td class="busList-table-name">SPLIT - KLJACI - DRNIŠ</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusId80" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">80</td>
                <td class="busList-table-name">DRNIŠ - KLJACI - SPLIT</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusId80_1" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">81</td>
                <td class="busList-table-name">SPLIT - BRŠTANOVO - NISKO</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusId81" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">81</td>
                <td class="busList-table-name">NISKO - BRŠTANOVO - SPLIT</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusId81_1" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">86</td>
                <td class="busList-table-name">SPLIT - KONJSKO - LEĆEVICA - KLADNJICE</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusId86" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">86</td>
                <td class="busList-table-name">KLADNJICE - LEĆEVICA - KONJSKO - SPLIT</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusId86_1" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">90</td>
                <td class="busList-table-name">SITNO - BOGDANOVIĆI - RADOŠIĆ - MALAČKA - K. STARI</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusId90" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">91</td>
                <td class="busList-table-name">K. STARI - PLANO - PRIMORSKI DOLAC - SITNO - BOGDANOVIĆI - DIVOJEVIĆI</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusId91" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">91</td>
                <td class="busList-table-name">DIVOJEVIĆI - BOGDANOVIĆI - SITNO - PRIMORSKI DOLAC - PLANO - K. STARI</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusId91_1" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">93</td>
                <td class="busList-table-name">K. STARI - MALAČKA - TEŠIJE - ĐIRLIĆI - ŠERIĆI</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusId93" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">93</td>
                <td class="busList-table-name">ŠERIĆI - ĐIRLIĆI - TEŠIJE - MALAČKA - K. STARI</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusId93_1" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id"></td>
                <td class="busList-table-name">KAŠTEL STARI - RUDINE</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusIdKaštela" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="d-flex flex-row align-items-center">
                <td class="busList-table-id"></td>
                <td class="busList-table-name">RUDINE - KAŠTEL STARI</td>
                <td>
                    <a asp-page="/SuburbanAreaSplit/TimetableBusIdRudine" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>



        </table>
    </div>
</div>