@page
@model BusStopSplit.Pages.BusCoverageAreaInterface.TrogirModel
@{
}

@*
    Kod koji kreira listu autobusa koji prometuju gradom Trogirom
*@

<link rel="stylesheet" href="~/css/TextAttributes.css" />
<div class="container-fluid" style="border-style:solid; border-color:darkblue; margin-top:20px;">

    <div class="card" style="margin-top:10px; background-color:yellow; border:none;">
        <h1 class="busList-h1" style="">Trogir</h1>
    </div>

    <div>
        <table class="table table-borderless">

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">41</td>
                <td class="busList-table-name">TROGIR - PLANO - MALJKOVIĆI</td>
                <td>
                    <a asp-page="/Trogir/TimetableBusId41" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">41</td>
                <td class="busList-table-name">MALJKOVIĆI - PLANO - TROGIR</td>
                <td>
                    <a asp-page="/Trogir/TimetableBusId41_1" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">42</td>
                <td class="busList-table-name">TROGIR - SLATINE</td>
                <td>
                    <a asp-page="/Trogir/TimetableBusId42" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">42</td>
                <td class="busList-table-name">SLATINE - TROGIR</td>
                <td>
                    <a asp-page="/Trogir/TimetableBusId42_1" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">44</td>
                <td class="busList-table-name">TROGIR - OKRUG DONJI</td>
                <td>
                    <a asp-page="/Trogir/TimetableBusId44" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">44</td>
                <td class="busList-table-name">OKRUG DONJI - TROGIR</td>
                <td>
                    <a asp-page="/Trogir/TimetableBusId44_1" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">45</td>
                <td class="busList-table-name">TROGIR - HOTEL MEDENA - VRANJICA</td>
                <td>
                    <a asp-page="/Trogir/TimetableBusId45" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">45</td>
                <td class="busList-table-name">VRANJICA - HOTEL MEDENA - TROGIR</td>
                <td>
                    <a asp-page="/Trogir/TimetableBusId45_1" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">47</td>
                <td class="busList-table-name">TROGIR - HOTEL MEDENA - VRSINE - MARINA - TROGIR</td>
                <td>
                    <a asp-page="/Trogir/TimetableBusId47" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">48</td>
                <td class="busList-table-name">TROGIR - HOTEL MEDENA - MARINA - DOGRADE - VRSINE - TROGIR</td>
                <td>
                    <a asp-page="/Trogir/TimetableBusId48" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">49</td>
                <td class="busList-table-name">TROGIR - HOTEL MEDENA - VINIŠĆE</td>
                <td>
                    <a asp-page="/Trogir/TimetableBusId49" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">49</td>
                <td class="busList-table-name">VINIŠĆE - HOTEL MEDENA - TROGIR</td>
                <td>
                    <a asp-page="/Trogir/TimetableBusId49_1" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">50</td>
                <td class="busList-table-name">TROGIR - HOTEL MEDENA - SEVID</td>
                <td>
                    <a asp-page="/Trogir/TimetableBusId50" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">50</td>
                <td class="busList-table-name">SEVID - HOTEL MEDENA - TROGIR</td>
                <td>
                    <a asp-page="/Trogir/TimetableBusId50_1" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">51</td>
                <td class="busList-table-name">TROGIR - LJUBITOVICA</td>
                <td>
                    <a asp-page="/Trogir/TimetableBusId51" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">51</td>
                <td class="busList-table-name">LJUBITOVICA - TROGIR</td>
                <td>
                    <a asp-page="/Trogir/TimetableBusId51_1" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="city-border d-flex flex-row align-items-center">
                <td class="busList-table-id">52</td>
                <td class="busList-table-name">TROGIR - VINOVAC</td>
                <td>
                    <a asp-page="/Trogir/TimetableBusId52" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

            <tr class="d-flex flex-row align-items-center">
                <td class="busList-table-id">52</td>
                <td class="busList-table-name">VINOVAC - TROGIR</td>
                <td>
                    <a asp-page="/Trogir/TimetableBusId52_1" class="btn"><img src="~/Images/clock1.png" width="29" height="29" /></a>
                </td>
                <td>
                    <a asp-page="./Favourites" class="btn"><img src="~/Images/star4.png" width="25" height="25" /></a>
                </td>
            </tr>

        </table>
    </div>
</div>