@page
@model BusStopSplit.Pages.TimetableBusId.TimetableBusId21Model
@{
}

@*
    Kreiranje tablice za autobus broj 21
*@

<link rel="stylesheet" href="~/css/Timetable.css" />

<h1 class="h1 d-flex card timetable-bus-name" style="width:1356px;">21 SV.FRANE - MEJE - SV.FRANE</h1>
<p style="margin-left:80px; color:darkblue;">vrijedi od (valid from) 01.02.2016</p>
<div class="d-flex flex-row">
    <table class="table-borderless table-striped" style="width:452px; margin-left:75px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-working-day">WORKING DAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-around">
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">09:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">11:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">12:15</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">13:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">14:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">16:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">17:15</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">18:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">19:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">21:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">22:15</span></td>
            </tr>
        </tbody>
    </table>

    <table class="table-borderless table-striped" style="width:452px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-sunday-and-holiday">SATURDAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-between">
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">09:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">11:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">12:15</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">13:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">14:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">16:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">17:15</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">18:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">19:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">21:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">22:15</span></td>
            </tr>
        </tbody>
    </table>

    <table class="table-borderless table-striped" style="width:452px;">
        <thead style="background-color:yellow;">
            <tr>
                <th class="timetable-sunday-and-holiday">SUNDAY AND HOLIDAY</th>
            </tr>
        </thead>

        <tbody class="align-content-center justify-content-between">
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">09:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">11:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">12:15</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">13:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">14:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">16:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">17:15</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">18:30</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">19:45</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">21:00</span></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td><span class="card timetable-darkblue-box">22:15</span></td>
            </tr>
        </tbody>
    </table>
</div>
