@page
@model BusStopSplit.Pages.Interface.FavouritesModel
@{
}

@* 
    Kod koji će biti napisat kada aplikacija u budućnosti bude imala bazu podataka    
*@

<link rel="stylesheet" href="~/css/TextAttributes.css" />

<div class="container-fluid">

    <div>
        <h1 class="favourites-h1">Favourites</h1>
    </div>
    <div>
        <table>
            <thead>
                <tr scope="col"></tr>
            </thead>
        </table>
    </div>

</div>
