//CSS za početnu stranicu

.about-about {
    font-size: 30px;
    font-family: Arial;
    color: black;
    text-align: center;
    font-weight: 700;
}

.about-about-the-app {
    font-size: 30px;
    font-family: Arial;
    color: black;
    text-align: center;
    font-weight: 700;
    margin-bottom: 50px;
}

.about-future-development {
    font-size: 30px;
    font-family: Arial;
    color: black;
    text-align: center;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-about-me {
    font-size: 30px;
    font-family: Arial;
    color: black;
    text-align: center;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom:50px;
}

.about-p1 {
    font-size: 20px;
    font-family: icomoon;
    color: black;
    text-align: center;
}

.about-bg-color-jumbotron {
    background-color: darkblue;
}

.about-bg-color-container {
    background-color: yellow;
}

.about-hr1 {
    width: 20%;
    margin-right: 50px;
    border: 3px solid yellow;
}

.about-hr2 {
    width: 20%;
    margin-left: 50px;
    border: 3px solid yellow;
}

.about-hr3 {
    width: 30%;
    border: 3px solid yellow;
    margin-top: 100px;
}

.about-card {
    color: black;
    font-weight: 700;
    background-color: yellow;
    text-align: center;
}

.about-busStation-img {
    width: 50px;
    height: 50px;
}
.about-jureImg{
    width:200px;
    height:300px;
}

.about-img-future {
    width: 500px;
    height: 450px;
    align-content:end;
}

.about-clock2-img {
    width: 40px;
    height: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
}

.about-lightBulb-img {
    width: 40px;
    height: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
}

.about-question-img {
    width: 40px;
    height: 40px;
    margin-right: 40px;
}

